<div class="row mt-5">

    <div class="col-3">

        <input  [(ngModel)]="newHero.name"  type="text" class="form-control m-1" placeholder="name">

    </div>

    <div class="col-3">

        <input [(ngModel)]="newHero.power" type="number" class="form-control m-1" placeholder="power">


    </div>

    <div class="col-3">

        <input [(ngModel)]="newHero.image" type="text" class="form-control m-1" placeholder="image">

    </div>

    <div class="col-3">
        <button (click)="ajout()"  type="button" class="btn btn-danger m-1 form-control">Create</button>
    </div>

</div>